@use "~@angular/material" as mat;
@import "var";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background: #fff url("/assets/images/backgrounds/5.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card {
  border-radius: $border-radius;
  width: 380px;
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  @include mat.elevation(4);
}

.instructions {
  text-align: left;
  font-size: 12px;
  color: #021d3f;
  font-weight: bold;
  & ul > li {
    font-size: 12px;
    color: #021d3f;
    font-weight: bold;
  }
}

.card-content {
  padding: 24px 0;
}

.logo {
  margin: $spacing 0;

  img {
    width: 180px;
  }
}

h1 {
  font: var(--font-display-1);
  font-weight: 500;
  margin: $spacing 0 0;
}

p {
  font: var(--font-body-2);
  margin: 0 0 $spacing;
}
