<div class="wood-dialog">
  <button mat-icon-button color="primary" mat-dialog-close style="position: absolute; right: 0; top: 0;">
    <mat-icon style="font-size: 1.5rem;"> close</mat-icon>
  </button>
  <div mat-dialog-content class="wood-dialog-content">
    <div class="wood-icon">
      <mat-icon cdkFocusInitial>warning</mat-icon>
    </div>
    <div class=" ">
      <div mat-dialog-title class="title">{{title}}</div>
      <div class="text-secondary">
        {{message}}
      </div>
    </div>
  </div>
</div>
