::ng-deep table {
  width: 100%;
  thead {
    tr {
      background-color: #e9eaec !important;
      th {
        color: #283144 !important;
      }
    }
  }
}

::ng-deep th.mat-header-cell {
  padding-top: 6px !important;
}

::ng-deep tr.mat-header-row {
  height: 48px !important;
}

::ng-deep th.mat-header-cell,
td.mat-cell {
  padding: 0 10px !important;
}

::ng-deep th.center {
  text-align: center !important;
}
::ng-deep th.center > div {
  justify-content: center !important;
}

::ng-deep mat-paginator .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
