$primary-color: #223ea2;
.warehouse-title {
  text-align: center;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
  padding: 10px;
  font-size: 2.8vh;
}

.legend_point {
  width: 1.7vh;
  height: 1.7vh;
  margin-right: 5px;
  &__supply_green {
    background-color: #55bf3b;
  }
  &__supply_yellow {
    background-color: #dddf0d;
  }
  &__supply_red {
    background-color: #df5353;
  }
  &__voucher {
    background-color: darkorange;
  }
}
