<div class="toolbar-user" (appClickOutside)="onClickOutside()" fxFlex="grow">
  <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
    <span fxLayout="row" fxLayoutAlign="start center">
      <img class="avatar" [src]="user?.avatar" alt="" appImgFallback />
      <span class="name" fxHide fxShow.gt-sm>{{user?.name}}</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div class="list-item" (click)="toggleDropdown()" matRipple routerLink="/users/profile">
          <mat-icon class="list-item-icon">account_circle</mat-icon>
          <span>Perfil</span>
        </div>
        <mat-divider></mat-divider>
        <div class="list-item" matRipple (click)="logOut()">
          <mat-icon class="list-item-icon">exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </div>
      </div>
    </div>
  </div>
</div>
