<div class="row">
  <div class="col-12 col-md-4">
    <div class="d-flex">
      <mat-form-field class="w-100" appearance="standard">
        <mat-label>Planta</mat-label>
        <input [value]="factoryName" matInput [disabled]="true" />
        <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="d-flex">
      <button
        mat-icon-button
        matPrefix
        color="primary"
        (click)="wareHouseNew($event)"
      >
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field class="w-100" appearance="standard">
        <mat-label>Naves</mat-label>
        <mat-select
          (selectionChange)="onWarehouseChange($event)"
          [ngModel]="dummyWarehouses"
          multiple
          required
        >
          <mat-option
            *ngFor="let warehouse of warehouseDataSource"
            [value]="warehouse"
            >{{ warehouse.name }}</mat-option
          >
        </mat-select>
        <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div *ngFor="let warehouse of selectedWarehouses" class="d-flex">
      <mat-form-field class="w-100" appearance="standard">
        <mat-label>Indicadores - {{ warehouse.name }}</mat-label>
        <mat-select
          [disabled]="!selectedWarehouses"
          [value]="isEditData ? getIndicators(warehouse.id) : ''"
          (selectionChange)="onIndicatorsChange($event, warehouse)"
          multiple
          required
        >
          <mat-option
            *ngFor="let indicator of indicatorDataSource"
            [value]="indicator.id"
          >
            {{ indicator.name }}
          </mat-option>
        </mat-select>
        <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>
