<mat-card class="mat-card-border">
  <mat-card-title class="warehouse-title"
    >Top 10 de Tiempo Muerto vs Tiempo Real de Corrida Semanal por Máquina -
    {{ title }}</mat-card-title
  >
  <mat-card-content style="height: 341px;">
    <highcharts-chart
      class="of-highcharts"
      [Highcharts]="Highcharts"
      [options]="chartOptionsTrctm"
      style="width: 100%; height: 320px; display: block;"
    ></highcharts-chart>
    <div class="trmvstm">%TRC vs TM</div>
  </mat-card-content>
</mat-card>
