<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="start center">
    <app-toolbar-sidenav-mobile-toggle (openSidenav)="onOpenSideNav($event)"></app-toolbar-sidenav-mobile-toggle>

    <div [fxShow.gt-sm]="topNavigation$ | async" [fxShow.xs]="false" [routerLink]="['/']" class="toolbar-logo" fxShow>
      CAZEL
    </div>


  </div>

  <div fxLayout="row">
    <app-toolbar-fullscreen-toggle class="toolbar-button"></app-toolbar-fullscreen-toggle>
    <!-- <app-toolbar-notifications class="toolbar-button"></app-toolbar-notifications> -->
    <app-toolbar-user class="toolbar-button"></app-toolbar-user>
    <app-theme-switcher class="toolbar-button"></app-theme-switcher>
  </div>
</div>
