$primary-color: #223ea2;

.title {
  font-size: 3.2vh;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 10px;
}
.bg-container {
  border: none;
  box-shadow: none;
}

.factory-title {
  color: #192c70;
  font-size: 2.8vh;
  font-weight: bold;
  padding-bottom: 20px;
}

.factory-border {
  padding: 5px;
  border-bottom: 2px solid $primary-color;
}

.overflow-h {
  overflow-x: hidden;
}

drag-scroll {
  height: 100vh;
  width: 100%;
}

.visible-screen {
  display: block;
}

.hidden-screen {
  display: none;
}

.subtitle {
  font-size: 2.6vh;
  color: $primary-color;
  padding-top: 5px;
}