<mat-card class="mat-card-border">
  <mat-card-content>
    <div class="row pb-0 mb-0 d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-around">
        <div class="d-flex align-items-center">
          <div class="legend_point legend_point__amountComplete"></div>
          <span class="legend_title">Cantidad Ordenada</span>
        </div>
        <div class="d-flex align-items-center">
          <div class="legend_point legend_point__supply_blue"></div>
          <div class="legend_point legend_point__supply_green"></div>
          <div class="legend_point legend_point__supply_yellow"></div>
          <div class="legend_point legend_point__supply_red"></div>
          <span class="legend_title">Cantidad Completada</span>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div
        *ngIf="chartOptionsMonday"
        [class]="getClass(true) + ' gp-border gp-border-right ' + getLastClass('LUNES')"
      >
        <div class="title">Lunes</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsMonday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
      <div
        *ngIf="chartOptionsTuesday"
        [class]="getClass(true) + ' gp-border gp-border-right ' + getLastClass('MARTES')"
      >
        <div class="title">Martes</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsTuesday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
      <div
        *ngIf="chartOptionsWednesday"
        [class]="getClass(true) + ' gp-border ' + getLastClass('MIERCOLES')"
      >
        <div class="title">Miércoles</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsWednesday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
    </div>
    <div class="row mt-3">
      <div
        *ngIf="chartOptionsThrusday"
        [class]="getClass(false) + ' gp-border gp-border-right ' + getLastClass('JUEVES')"
      >
        <div class="title">Jueves</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsThrusday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
      <div
        *ngIf="chartOptionsThrusday"
        [class]="getClass(false) + ' gp-border gp-border-right ' + getLastClass('VIERNES')"
      >
        <div class="title">Viernes</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsFriday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
      <div
        *ngIf="chartOptionsSaturday"
        [class]="getClass(false) + ' gp-border gp-border-right ' + getLastClass('SABADO')"
      >
        <div class="title">Sábado</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsSaturday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
      <div
        *ngIf="chartOptionsSunday"
        [class]="getClass(false) + ' gp-border gp-border-right ' + getLastClass('DOMINGO')"
      >
        <div class="title">Domingo</div>
        <highcharts-chart
          class="of-highcharts"
          [Highcharts]="Highcharts"
          [options]="chartOptionsSunday"
          style="width: 100%; height: 33vh; display: block"
        ></highcharts-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
