$border-config: 2px solid #223ea2;

.trmvstm {
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  bottom: 11px;
  left: 9px;
  color: #223ea2;
}

.legend_point {
  width: 1.7vh;
  height: 1.7vh;
  margin-right: 5px;
	border-radius: 20px;
  &__supply_green {
    background-color: #55bf3b;
  }
  &__supply_yellow {
    background-color: #dddf0d;
  }
  &__supply_red {
    background-color: #df5353;
  }
	&__supply_blue {
		background-color: dodgerblue;
	}
  &__ordered {
    background-color: darkorange;
  }
  &__amountComplete {
    background-color: #5f376b;
  }
}

.legend_title {
	font-weight: bold;
	font-size: 1.7vh;
}

.of-highcharts {
  overflow: visible !important;
}

.title {
  color: #223ea2;
  font-weight: bold;
  font-size: 2.8vh;
  text-align: center;
}

.gp-border {
  border-bottom: $border-config;
  padding-top: 1vh;
  &-right {
    border-right: $border-config;
  }
  &-none {
    border-right: none !important;
  }
}
