.form-title {
    color: #2440a3;
    font-weight: bold;
}

.form-subtitle {
    color: #2440a3;
    font-size: 12px;
}

.filter-icon {
    color: #1976d2;
    padding-right: 30px;
    cursor: pointer;
    &:hover{
        color: #8ac2f9;
    }
}