$alert-danger: #df5353;
$warning-alert: #dddf0d;
$success-alert: #55bf3b;
$orange-alert: #FF9300;

.tbl-cell {
  font-size: 1.2em;
  font-weight: bold;
}

.tbl-header {
  width: 100% !important;
  font-size: 1.2em;
  font-weight: bold;
  color: #223ea2;
}

@mixin customKeyframes($name, $color) {
  @keyframes #{$name} {
    0% {
      background: $color;
    }
    50% {
      background: white;
      color: black;
    }
    100% {
      background: $color;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes widthInAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@mixin blinkAnimation($name, $duration) {
  animation: $name $duration infinite;
}

@mixin delayAnimation($name, $duration) {
  animation: $name $duration infinite;
}

.body-fade {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.order-completed {
  animation: widthInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.blink {
  &-100 {
    @include customKeyframes(blink-100, $alert-danger);
    @include blinkAnimation(blink-100, 1s);
  }

  &-200 {
    @include customKeyframes(blink-200, $warning-alert);
    @include blinkAnimation(blink-200, 1s);
  }
  &-300 {
    @include customKeyframes(blink-300, $orange-alert);
    @include blinkAnimation(blink-300, 1s);
  }
  &-400 {
    @include customKeyframes(blink-400, $success-alert);
    @include blinkAnimation(blink-400, 1s);
  }
}
