$primary-color: #223ea2;
$alert-danger: #df5353;
$warning-alert: #dddf0d;
$success-alert: #55bf3b;

.warehouse-title {
  text-align: center;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: 10px;
  font-size: 1.7vh;
}
.title-content {
  padding: 5px;
  border-bottom: 2px solid #13319c;
}

.title {
  color: #264cd2;
}

.legend_point {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  &__supply_green {
    background-color: #55bf3b;
  }
  &__supply_yellow {
    background-color: #dddf0d;
  }
  &__supply_red {
    background-color: #df5353;
  }
  &__ordered {
    background-color: #223ea2;
  }
  &__amountComplete {
    background-color: #9b5332;
  }
  &__line {
    background-color: white;
    border: 2px solid #df5353;
    z-index: 10;
  }
}

.line_graphic {
  background-color: #df5353;
  width: 2.5vh;
  height: 0.4vh;
  margin-left: -2.8vh;
  margin-top: 0.1vh;
  margin-right: 0.5vh;
}

.trmvstm {
  font-size: 12px;
  font-weight: bold;
  color: #223ea2;
}

.of-highcharts {
  overflow: visible !important;
}

.legend_padding {
  padding: 10px;
}

.legend_title {
  font-weight: bold;
}

.expansion-header {
  background: $primary-color !important;
  color: white;
}

.expansion-panel {
  border-radius: 0 !important;
}

.oee-field {
  width: 100%;
}

form {
  padding: 16px;
}

.machine-title {
  padding: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #3257d9;
  color: white;
  font-weight: bold;
}

.machine-title-form {
  color: #3257d9;
  font-weight: bold;
}

.machine-item {
  padding: 5px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  color: #223ea2;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

.aligned-with-icon {
  position: relative;
  top: -7px;
}

.chart-overflow-x {
  overflow-x: scroll;
}

.title-deadTime {
  color: $primary-color;
  padding-left: 0.7em;
  font-weight: bold;
  font-size: 0.8em;
  width: 1vh;
}

.reason-title {
  position: absolute;
  z-index: 1000;
  top: 49.4vh;
  left: 1.3em;
  font-size: 0.8em;
  color: #223ea2;
  font-weight: bold;
}

.relative-parent {
  position: relative;
}

.supply-total {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  color: #223ea2;
}

.percent-title {
  font-size: 12px;
  color: #223ea2;
  font-weight: bold;
}

@mixin customKeyframes($name, $color) {
  @keyframes #{$name} {
    0% {
      background: $color;
      color: white;
    }
    50% {
      background: white;
      color: black;
    }
    100% {
      background: $color;
      color: white;
    }
  }
}

@mixin blinkAnimation($name, $duration) {
  animation: $name $duration infinite;
}

.blink {
  &-100 {
    @include customKeyframes(blink-100, $alert-danger);
    @include blinkAnimation(blink-100, 1s);
  }

  &-200 {
    @include customKeyframes(blink-200, $warning-alert);
    @include blinkAnimation(blink-200, 1s);
  }
  &-300 {
    @include customKeyframes(blink-300, $success-alert);
    @include blinkAnimation(blink-300, 1s);
  }
}

.legend-title {
  width: 13%;
  font-size: 9px;
  font-weight: bold;
  color: #223ea2;
  &-landscape {
    width: 7%;
  }
}