<div class="wood-dialog">
  <div mat-dialog-content class="wood-dialog-content">
    <div class="wood-icon text-warning">
      <mat-icon>warning</mat-icon>
    </div>
    <div class=" ">
      <div mat-dialog-title class="title">{{title}}</div>
      <div class="text-secondary">
        {{message}}
      </div>
    </div>
  </div>
  <div mat-dialog-content class="wood-actions">
    <button mat-raised-button color="primary" class="me-2" (click)="onConfirm()">SI</button>
    <button mat-button cdkFocusInitial (click)="onDismiss()">NO</button>
  </div>
</div>
