@use '~@angular/material' as mat;
@import "~@angular/material/theming";

$theme-primary-hue: 700;
$theme-accent-hue: 500;
$theme-warn-hue: 500;

$theme-primary: mat.define-palette(mat.$blue-palette, $theme-primary-hue);
$theme-accent: mat.define-palette(mat.$teal-palette, $theme-accent-hue);
$theme-warn: mat.define-palette(mat.$red-palette, $theme-warn-hue);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);
@include mat.all-component-themes($theme);

.default {
  @import "../@core/styles/themes/default";
  background: $theme-background;
  color: $theme-text;
}

.dark {
  @include mat.all-component-colors($dark-theme);
  $theme: $dark-theme;

  @import "../@core/styles/themes/dark";

  background: $theme-background;
  color: $theme-text;
}
