$primary-color: #223ea2;
.warehouse-title {
  text-align: center;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: 10px;
}

.legend_point {
  width: 1.7vh;
  height: 1.7vh;
  margin-right: 5px;
  &__supply_green {
    background-color: #55bf3b;
  }
  &__supply_yellow {
    background-color: #dddf0d;
  }
  &__supply_red {
    background-color: #df5353;
  }
  &__voucher {
    background-color: darkorange;
  }
}

.title {
  font-size: 3.2vh;
  font-weight: bold;
  color: $primary-color;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 10px;
}
.bg-container {
  border: none;
  box-shadow: none;
}

.factory-title {
  color: $primary-color;
  font-size: 2.5vh;
  font-weight: bold;
  padding-bottom: 20px;
}

.factory-border {
  font-size: 3vh;
  border-bottom: 2px solid $primary-color;
}

.factory-supplies {
  font-size: 1.7vh;
  font-weight: bold;
  &-borders {
    border-left: 2px solid $primary-color;
    border-right: 2px solid $primary-color;
  }
}

.factory-tables-border {
    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;
}
