$primary-color: #223ea2;

.legend_point {
  width: 1.7vh;
  height: 1.7vh;
  border-radius: 20px;
  margin-right: 5px;
  &__supply_green {
    background-color: #55bf3b;
  }
  &__supply_yellow {
    background-color: #dddf0d;
  }
  &__supply_red {
    background-color: #df5353;
  }
  &__ordered {
    background-color: #223ea2;
  }
  &__amountComplete {
    background-color: #9b5332;
  }
  &__line {
    background-color: white;
    border: 2px solid #df5353;
    z-index: 10;
  }
}

.line_graphic {
  background-color: #df5353;
  width: 2.5vh;
  height: 0.4vh;
  margin-left: -2.8vh;
  margin-top: 0.1vh;
  margin-right: 0.5vh;
}

.trmvstm {
  font-size: 12px;
  font-weight: bold;
  color: #223ea2;
}

.of-highcharts {
  overflow: visible !important;
}

.legend_padding {
  padding: 10px;
}

.legend_title {
  font-weight: bold;
}

.title-deadTime {
  color: $primary-color;
  padding-left: 0.7em;
  font-weight: bold;
  font-size: 0.8em;
  width: 1vh;
}

.reason-title {
  position: absolute;
  z-index: 1000;
  top: 49.4vh;
  left: 1.3em;
  font-size: 0.8em;
  color: #223ea2;
  font-weight: bold;
}

.relative-parent {
  position: relative;
}
