<app-loading-indicator></app-loading-indicator>

<div class="container" fxLayout="column">

  <mat-sidenav-container autosize fxFlex>

    <!-- SIDENAV -->
    <mat-sidenav (closedStart)="closeSidenav()" (openedStart)="openSidenav()" [mode]="sidenavMode$ | async"
      [opened]="sidenavOpen$ | async" class="app-collapsable-sidenav">
      <app-sidenav [collapsed]="sidenavCollapsed$ | async" [expanded]="sidenavExpanded$ | async"></app-sidenav>
    </mat-sidenav>
    <!-- END SIDENAV -->

    <mat-sidenav-content class="content-container" fxLayout="column">

      <!-- TOOLBAR -->
      <app-toolbar (openSidenav)="openMobileNavBar($event)" fxFlex="none"> </app-toolbar>
      <!-- END TOOLBAR -->

      <!-- CONTENT -->
      <div [class.scroll-disabled]="scrollDisabled$ | async" cdkScrollable class="content" fxFlex="auto"
        fxLayout="column">

        <div class="content-inner" fxFlex="auto">
          <router-outlet></router-outlet>
        </div>

        <!-- FOOTER -->
        <app-footer fxFlex="none"></app-footer>
        <!-- END FOOTER -->
      </div>
      <!-- END CONTENT -->

    </mat-sidenav-content>
  </mat-sidenav-container>


</div>
