<div class="page-container">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="hasPermission" fxLayout="row" fxLayoutAlign="start center" style="width: 100%">
      <button mat-button color="primary" routerLink="/users" class="my-3">
        <mat-icon>keyboard_backspace</mat-icon>
        Regresar
      </button>
    </div>
    <mat-card class="mat-elevation-z4 mb-3 w-100">
      <mat-card-header>
        <mat-card-title class="form-title">
          <button *ngIf="!hasPermission" mat-button color="primary" routerLink="/users">
            <mat-icon>keyboard_backspace</mat-icon>
          </button> {{ title }}</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div *ngIf="!hasPermission && isEdit" class="col-12 text-center">
              <h4 class="title_general">Datos Generales</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-6">
              <div [class]="isEdit ? 'usr-avatar usr-avatar-mobile' : 'usr-avatar'">
                <img [src]="userAvatarUrl" alt="user avatar" appImgFallback />
                <input
                  type="file"
                  accept="image/*"
                  style="display: none"
                  #fileInput
                  (change)="onUploadUserAvatar($event)"
                />
                <button
                  mat-button
                  type="button"
                  color="primary"
                  class="mb-3"
                  *ngIf="isEdit"
                  (click)="$event.stopPropagation(); fileInput.click()"
                >
                  <mat-icon>cloud_upload</mat-icon>
                  Subir foto
                </button>

                <div *ngIf="!hasPermission && isEdit" class="data_section">
                  <span class="general_info">Estatus: {{ user.isActive ? 'Activo' : 'Inactivo' }}</span><br />
                </div>
              </div>
            </div>
            <div *ngIf="!hasPermission && isEdit" class="col-6 d-flex flex-column justify-items-center align-items-left data_p0">
              <div class="data_section">
                <span class="general_info">Nombre Completo: </span><br />
                <span class="general_info general_info__subtitle">{{
                  user.name
                }}</span>
              </div>
              <div class="data_section">
                <span class="general_info">Teléfono: </span><br />
                <span class="general_info general_info__subtitle">{{
                  user.phoneNumber
                }}</span>
              </div>
              <div class="data_section">
                <span class="general_info">Correo Electrónico: </span><br />
                <p class="general_info general_info__subtitle">{{
                  user.email
                }}</p>
              </div>
            </div>
            <div *ngIf="hasPermission || !isEdit" class="col-12 col-md-9">
              <h4>Datos Generales</h4>
              <!--BEGIN Datos Generales -->
              <div class="row">
                <div class="col-12 col-md-4">
                  <mat-form-field fxFlex="grow" appearance="standard">
                    <mat-label>Nombre: </mat-label>
                    <input
                      matInput
                      formControlName="firstName"
                      maxlength="50"
                      required
                    />
                    <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field fxFlex="grow" appearance="standard">
                    <mat-label>Apellido Paterno: </mat-label>
                    <input
                      matInput
                      formControlName="fLastName"
                      maxlength="50"
                      required
                    />
                    <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field fxFlex="grow" appearance="standard">
                    <mat-label>Apellido Materno: </mat-label>
                    <input
                      matInput
                      formControlName="mLastName"
                      maxlength="50"
                      required
                    />
                    <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field fxFlex="grow" appearance="standard">
                    <mat-label>Teléfono: </mat-label>
                    <input
                      matInput
                      formControlName="phoneNumber"
                      maxlength="10"
                    />
                    <mat-error
                      *ngIf="form.get('phoneNumber').hasError('pattern')"
                    >
                      {{ appMessage.PHONE_INVALID }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field fxFlex="grow" appearance="standard">
                    <mat-label>Correo Electrónico: </mat-label>
                    <input
                      matInput
                      formControlName="email"
                      maxlength="150"
                      required
                      [readonly]="isEdit"
                    />
                    <mat-error *ngIf="form.get('email').hasError('required')">
                      {{ appMessage.FIELD_REQUIRED }}
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('pattern')">
                      {{ appMessage.EMAIL_INVALID }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <div class="pt-2" *ngIf="isEdit">
                    <mat-slide-toggle
                      labelPosition="before"
                      formControlName="isActive"
                    >
                      Activar/Inactivar
                    </mat-slide-toggle>
                    <div>
                      Estatus:
                      {{
                        form?.controls?.isActive?.value ? "Activo" : "Inactivo"
                      }}
                    </div>
                  </div>
                </div>
              </div>
              <!--END Datos Generales -->
            </div>
          </div>

          <h4 *ngIf="hasPermission || !isEdit">Datos Empresariales</h4>
          <!--BEGIN Datos Empresariales -->

          <div class="row">
            <div *ngIf="hasPermission || !isEdit" class="col-12 col-md-3">
              <div class="d-flex">
                <button
                  type="button"
                  mat-icon-button
                  matPrefix
                  color="primary"
                  (click)="factoryNew()"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <mat-form-field class="w-with" appearance="standard">
                  <mat-label>Planta:</mat-label>
                  <mat-select formControlName="factoryId" required>
                    <mat-option
                      (onSelectionChange)="onFactoryChange($event, true)"
                      *ngFor="let item of factoryDataSource"
                      [value]="item.id"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('factoryId').hasError('required')">
                    {{ appMessage.FIELD_REQUIRED }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="hasPermission || !isEdit" class="col-12 col-md-3">
              <div class="d-flex">
                <button
                  type="button"
                  mat-icon-button
                  matPrefix
                  color="primary"
                  [disabled]="!factorySelected"
                  (click)="departmentNew()"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <mat-form-field class="w-with" appearance="standard">
                  <mat-label>Departamento: </mat-label>
                  <mat-select formControlName="departmentId" required>
                    <mat-option
                      *ngFor="let item of departmentDataSource"
                      [value]="item.id"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="hasPermission || !isEdit" class="col-12 col-md-3">
              <mat-form-field class="w-100" appearance="standard">
                <mat-label>Tipo de Usuario: </mat-label>
                <mat-select formControlName="userTypeId" required>
                  <mat-option
                    *ngFor="let item of userTypeDataSource"
                    [value]="item.id"
                  >
                    {{ item?.name }}
                  </mat-option>
                </mat-select>
                <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="hasPermission || !isEdit" class="col-12 col-md-3">
              <mat-form-field class="w-100" appearance="standard">
                <mat-label>Perfil: </mat-label>
                <mat-select formControlName="roleName" required>
                  <mat-option
                    *ngFor="let item of roleDataSource"
                    [value]="item.name"
                  >
                    {{ item?.name }}
                  </mat-option>
                </mat-select>
                <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!--END Datos Empresariales -->

          <h4 *ngIf="hasPermission || !isEdit">Datos Domicilio</h4>
          <div *ngIf="!hasPermission && isEdit" class="col-12 text-center">
            <h4 class="title_general">Datos Domicilio</h4>
          </div>
          <!-- BEGIN Domicilio -->
          <div formGroupName="address">
            <div class="row">
              <div class="col-6 col-md-8">
                <mat-form-field fxFlex="grow" appearance="standard">
                  <mat-label>Calle: </mat-label>
                  <input
                    matInput
                    formControlName="streetName"
                    maxlength="200"
                  />
                  <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3 col-md-2">
                <mat-form-field fxFlex="grow" appearance="standard">
                  <mat-label>No. Int.: </mat-label>
                  <input
                    matInput
                    formControlName="indoorNumber"
                    maxlength="5"
                  />
                  <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                </mat-form-field>
              </div>
              <div class="col-3 col-md-2">
                <mat-form-field fxFlex="grow" appearance="standard">
                  <mat-label>No. Ext.:</mat-label>
                  <input
                    matInput
                    formControlName="outdoorNumber"
                    maxlength="5"
                  />
                  <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-md-4">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>País: </mat-label>
                  <mat-select
                    formControlName="countryId"
                    (valueChange)="onCountryChange($event)"
                  >
                    <mat-option
                      *ngFor="let item of countryDataSource"
                      [value]="item.id"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 col-md-4">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>Estado: </mat-label>
                  <mat-select formControlName="stateId">
                    <mat-option
                      *ngFor="let item of stateDataSource"
                      [value]="item.id"
                      (onSelectionChange)="onStateChange($event)"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error> {{ appMessage.FIELD_REQUIRED }} </mat-error>
                </mat-form-field>
              </div>
              <div class="col-6 col-md-4">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>Municipio: </mat-label>
                  <mat-select formControlName="townId">
                    <mat-option
                      *ngFor="let item of townDataSource"
                      [value]="item?.id"
                      (onSelectionChange)="onTownChange($event)"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 col-md-4">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>C.P.: </mat-label>
                  <mat-select formControlName="zipCodeId">
                    <mat-option
                      *ngFor="let item of zipCodeDataSource"
                      [value]="item?.id"
                      (onSelectionChange)="onZipCodeChange($event)"
                    >
                      {{ item?.id }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6 col-md-4">
                <mat-form-field class="w-100" appearance="standard">
                  <mat-label>Colonia: </mat-label>
                  <mat-select formControlName="neighborhoodId">
                    <mat-option
                      *ngFor="let item of neighborhoodDataSource"
                      [value]="item?.id"
                    >
                      {{ item?.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--END Domicilio -->
          <!--START EMPLOYE  INFO MOBILE -->
          <div *ngIf="!hasPermission && isEdit" class="row">
            <div class="col-12 text-center">
              <h4 class="title_general">Datos Empresariales</h4>
            </div>

            <div *ngIf="mobileFactory" class="col-6 ">
              <div class="data_section d-flex align-items-center flex-column">
                <span class="general_info_business">Planta: </span>
                <span class="general_info_business">{{
                  mobileFactory
                }}</span>
              </div>
            </div>
            <div class="col-6 ">
              <div class="data_section d-flex align-items-center flex-column">
                <span class="general_info_business">Departamento: </span>
                <span class="general_info_business">{{
                  mobileDepartment
                }}</span>
              </div>
            </div>
            <div class="col-6 ">
              <div class="data_section d-flex align-items-center flex-column">
                <span class="general_info_business">Tipo de Usuario: </span>
                <span class="general_info_business">{{
                  user.userType
                }}</span>
              </div>
            </div>
            <div class="col-6 ">
              <div class="data_section d-flex align-items-center flex-column">
                <span class="general_info_business">Perfil: </span>
                <span class="general_info_business">{{
                  user.roleName
                }}</span>
              </div>
            </div>
          </div>
          <!--END EMPLOYE INFO MOBILE -->
          <div class="row">
            <div class="col-12">
              <div class="my-3 text-center">
                <button
                  *ngIf="!isEdit"
                  type="submit"
                  color="primary"
                  mat-raised-button
                  [disabled]="form.invalid"
                >
                  <mat-icon>save</mat-icon>
                  <span> GUARDAR</span>
                </button>
                <button
                  *ngIf="isEdit"
                  type="submit"
                  color="primary"
                  mat-raised-button
                  [disabled]="form.invalid || !form.touched"
                >
                  <mat-icon>save</mat-icon>
                  <span> GUARDAR</span>
                </button>
              </div>
            </div>
            <div class="col-12">
              <span class="form-subtitle"
                >*Datos obligatorios para el registro.</span
              >
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <pre>{{form?.invalid}}</pre>
<pre>{{form?.touched}}</pre>
<pre>{{isEdit}}</pre> -->
<!-- <pre>{{form.get('email').errors | json}}</pre> -->
<!-- <pre>{{form.value | json}}</pre> -->
