<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0" mat-dialog-title>{{title}}</h3>
  <mat-icon mat-dialog-close class="pointer">close</mat-icon>
</div>

<form [formGroup]="form">
  <div mat-dialog-content>
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>Planta: </mat-label>
      <input matInput required formControlName="name" maxlength="50">
      <mat-error> {{appMessage.FIELD_REQUIRED}} </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>Nomenclatura: </mat-label>
      <input matInput required formControlName="nomenclature" maxlength="2">
      <mat-error> {{appMessage.FIELD_REQUIRED}} </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <div class="text-center w-100 mt-2 mb-4">
      <button type="button" mat-raised-button color="primary" cdkFocusInitial (click)="onSubmit()"
        [disabled]="form.invalid">
        <mat-icon class="me-2">save</mat-icon>
        <span>GUARDAR</span>
      </button>
    </div>
  </div>
</form>
