.card_chart {
  height: 40vh;
  padding: 0;
  padding-bottom: 16px;
}

.red-color {
  background-color: red;
  fill: red;
}

.yellow-color {
  background-color: yellow;
  fill: yellow;
}

.green-color {
  background-color: green;
  fill: green;
}

.indicator-status {
  width: 20px;
  height: 20px;
  border-radius: 15px;
}