<div class="padding">
  <mat-card class="mt-3">
    <mat-card-title>Producto Terminado OT00NV0301 - OT00NV0310</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <div class="row card_chart">
        <div class="col-8">
          <ngx-charts-bar-horizontal-2d
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [animations]="animations"
            [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [scheme]="colorScheme"
            [showDataLabel]="true"
          >
          </ngx-charts-bar-horizontal-2d>
        </div>
        <div class="col-4">
          <mtx-grid
            [data]="table"
            [columns]="columns"
            [cellTemplate]="{ semaforo: semaforoTpl }"
            [showPaginator]="false"
          >
            <ng-template class="center" #semaforoTpl let-row let-index="index" let-col="colDef">
              <div [class]="row?.semaforo + ' indicator-status'"></div>
            </ng-template>
          </mtx-grid>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3">
    <mat-card-title
      >Ordenes de Trabajo (Materia Prima) OT00NV0301 -
      OT00NV0310</mat-card-title
    >
    <mat-divider inset></mat-divider>
    <mat-card-content>
      <div class="row card_chart">
        <div class="col-4">
          <mtx-grid
            [data]="tableMP"
            [columns]="columnsMP"
            [cellTemplate]="{ name: nameTpl }"
            [showPaginator]="false"
          >
            <ng-template #nameTpl let-row let-index="index" let-col="colDef">
              <button
                mat-button
                color="primary"
                [routerLink]="['/devices/edit/' + row.id]"
              >
                Hola
              </button>
            </ng-template>
          </mtx-grid>
        </div>
        <div class="col-8">
          <ngx-charts-bar-horizontal-2d
            [results]="materiaPrima"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [animations]="animations"
            [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [legendPosition]="legendPosition"
            [legendTitle]="legendTitle"
            [scheme]="colorScheme"
            [showDataLabel]="true"
          >
          </ngx-charts-bar-horizontal-2d>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
